doctype html
html(lang="en")
    head
        title Approaching User Onboarding
        meta(name="viewport", content="width=1024")
        link(href='http://fonts.googleapis.com/css?family=Lato:100,100italic,400|Source+Sans+Pro:400,700,400italic,700italic|Open+Sans:400italic,600italic,700italic,400,600,700', rel='stylesheet', type='text/css')
        link(href='#{ASSET_PATH}/foundation.min.css', rel='stylesheet')
        link(href='#{ASSET_PATH}/style.css', rel='stylesheet')

    body.impress-not-supported
        #impress

            .step.slide(data-x='-4000')
                img(src='http://www.gravatar.com/avatar/2146b557530c4c38c84c93113ff210c3.png?s=200', width='100', style='box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); border-radius: 50%')
                h1 Jonathan Kim
                h3 @hijonathan

            .step.slide(data-x='-2000')
                img(src='http://appcues.com/images/logos/mark-angle.png', width='80', style='border-radius: 4px; border: 2px solid #428bca; padding: 14px 12px')
                h1 Appcues
                h3 @appcues
                p.small.accent *We are hiring

            .step.slide(data-x='0')
                h1 How to Nail Your Product Onboarding

            .step.slide(data-x='2000')
                h2.serif.text-left user onboarding
                blockquote The deliberate process of improving a person's success with a product or service.

            .step.slide.accented(data-x='4000')
                h1 Preliminary Questions

            .step.slide(data-x='6000')
                h2 What's the most valuable thing about my product?

            .step.slide(data-x='8000')
                h2 How long does it typically take to onboard a customer?

            .step.slide(data-x='10000')
                h2 What do I want every user to experience after signing up?

            .step.slide(data-x='12000')
                h2 How do I know when onboarding is working?

                //- The deliberate process of improving a person's success with a product or service.
                //- Investing in this first point of contact pays dividends in activation, retention, referrals,
                //- and customer support.

            .step.slide(data-x='14000')
                h1 Where to Start


            .step.slide(data-x='14000', data-y='500')
                img(src='#{ASSET_PATH}/images/wow.jpg', width='600')

                //- Find your product's WOW moment. What's the thing that gets people excited?

            .step.slide(data-x='14000', data-y='1000')
                h5.header-formal Not a WOW Moment
                h2.serif The thing that took the longest time to build.

            .step.slide(data-x='14000', data-y='1500')
                h5.header-formal Not a WOW Moment
                h2.serif The thing that makes the company more money.

            .step.slide(data-x='14000', data-y='2000')
                h5.header-formal Not a WOW Moment
                h2.serif The company's latest goal/initiative.

            .step.slide(data-x='14000', data-y='2500')
                img(src='#{ASSET_PATH}/images/ghost.png', width='400')

                //- Case Study: Ghost
                //- Previously thought that publishing a post was the WOW moment for customers. They were wrong, that was the WOW moment for the product manager. That's what says, "Yep, the software works." The WOW moment was when someone could look at a site that belonged to them, that they built. It's their identity online.
                    - Publishing a first post: 5% conversion
                    - Adding a custom domain: 8% conversion
                    - Uploading a custom theme: 10% conversion

                //- Embracing that improved their conversion by 1000% and improved their paid funnel by 370%.


            .step.slide(data-x='16000', data-y='3000')
                h1 Design patterns

            .step.slide(data-x='16000', data-y='4000')
                img(src='#{ASSET_PATH}/images/foursquare.png')
                //- Annotated - overlayed product commentary.

            .step.slide(data-x='16000', data-y='5000')
                img(src='#{ASSET_PATH}/images/twitter.PNG', width='400')
                //- Embedded - training interspersed throughout the product.

            .step.slide(data-x='16000', data-y='6000')
                img(src='#{ASSET_PATH}/images/facebook.png', width='400')
                //- Dedicated - siloed training/experiences.

            .step.slide(data-x='16000', data-y='7000')
                img(src='#{ASSET_PATH}/images/humans.jpg')
                //- Human - actual people.

            .step.slide(data-x='16000', data-y='8000')
                img(src='#{ASSET_PATH}/images/weather-channel.png', width='200', style='margin-right: 20px')
                img(src='#{ASSET_PATH}/images/figure.PNG', width='200')

                //- Like in all forms of design, these patterns are tools. You'll want to choose
                //- the right one for the job at hand.


            .step.slide(data-x='17000', data-y='8500')
                h1 Simple Tactics

            .step.slide(data-x='17000', data-y='9000')
                h2
                    span.label-box &nbsp;#1&nbsp;
                    |  Be the onboarding
                //- Onboard people manually. You'll learn so much about your customer, and you can
                //- build that into your product's onboarding later.

            .step.slide(data-x='17000', data-y='9500')
                h2
                    span.label-box &nbsp;#2&nbsp;
                    |  Install an in-app chat
                //- Collect feedback constantly to surface friction points in your product.

            .step.slide(data-x='17000', data-y='10000')
                h2
                    span.label-box &nbsp;#3&nbsp;
                    |  Add a welcome experience

            .step.slide(data-x='17000', data-y='10500')
                h2
                    span.label-box &nbsp;#4&nbsp;
                    |  Re-launch a feature

            .step.slide(data-x='17000', data-y='11000')
                h2
                    span.label-box &nbsp;#5&nbsp;
                    |  Drive customers deeper


            .step.slide(data-x='19000', data-y='10000', data-z='3000')
                blockquote: h1 Measuring Effectiveness

                //- Put systems in place to measure your key onboarding metrics:
                    - Activation (rate and duration)
                    - Engagement (pre- and post-activation)
                    - Conversion
                    - Retention

            .step.slide(data-x='19000', data-y='10500', data-z='3000')
                h5.header-formal Analytics
                h2.serif Know your growth levers.

                //- Understand how different actions are related, and keep track of the actions whose relationships you don't yet understand. Try to uncover what actions lead to your desired goal, and start influencing more of that behavior to happen.

                //- Don't shoot for 1000% conversion rate increases; they don't happen very often. Just try to move more people from Step A to Btep B.

            .step.slide(data-x='19000', data-y='11000', data-z='3000')
                h5.header-formal Analytics
                h2.serif Run a controlled experiment.

                //- Typical stats stuff. It's also good to make sure to track of those cohorts to track ripple effects.

            .step.slide(data-x='19000', data-y='11500', data-z='3000')
                h5.header-formal Analytics
                h2.serif Look for ripple effects.

                //- Beyond the funnel improvement, there are other metrics that can be moved by better onboarding.

                    - Engagement rate.
                    - Retention rate.
                    - Referral rate.
                    - Upgrade rate.
                    - Support costs.

                    Limit yourself to one goal metric, but be aware of how that affects everything else.

            .step.slide(data-x='19000', data-y='12500', data-z='3000')
                img(src='#{ASSET_PATH}/images/storyboard-that.png', width='400')

                //- Case Study: Storyboard That
                //- Knew that their WOW moment was creating a storyboard. If they could just get
                //- more people to create storyboards, they could convert more of them to paid customers.
                //- Made one simple change to drive users to create a storyboard right away, saw a 2X increase
                //- in conversion rate vs the control.

                //- They understood their growth levers and focused on just optimizing Step 1 of a 3-step funnel.

                //- Their customer behavior was interesting. Incredibly high engagement, high purchase intent, but it wasn't obvious from their conversion rate. They wanted to buy, but they weren't able to come to a purchase decision on their own.

            //- .step.slide(data-x='24000')
            //-     h1 Your Product Changes
            //-     p So should your onboarding process.

                //- Account management and customer success teams are great for sussing this out. They don't
                //- say the same thing to every customer, and they adapt what they say over time.

                //- Likewise, your onboarding process should change with it. Make sure to introduce new features so people are up to speed.

                //- Case Study: Litmus


            //- .step.slide(data-x='6000')
            //-     img(src='http://appcues.com/images/zendesk.png')
            //-     h2 Proactive Support Calls
            //-     p Zendesk found that human interaction was critical to customer success.

            //- #fin.step.slide.accented(data-x='1500', data-y='8000', data-z='3000', data-scale='4')
            //-     h1 Thank you

        script(type='text/javascript', src='#{ASSET_PATH}/impress.js')
        script.
            impress().init();
